$white: #ffffff;
$black: #000000;
$red: #a31515;

$light-gray: #EEF1F5;
$gray: #afafaf;
$dark-gray: #323232;
$darkest-gray: #231f20;
$green: #22BAC9;
$yellow: #f5e086;

$border-color: #e2e2e2;

$text-color: #444444;
$main-color: $black;
$error: $red;
$disabled: $light-gray;