$fontsPath: '../fonts';

$font-inter: 'Montserrat', sans-serif;

$font-main: $font-inter;
$font-btn: $font-main;

$icomoon-font-family: "artifcts" !default;
$icomoon-font-path: "#{$fontsPath}/icons" !default;