.btn {
	@extend %effect-ripple;
	box-sizing: content-box;
	font-family: $font-main;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: auto;
	font-size: rem(14);
	font-weight: 600;
	padding: rem(10 89);
	height: rem(30);
	line-height: rem(30);
	letter-spacing: 0;
	border-radius: 0;
	text-transform: uppercase;
	display: inline-block;
	color: $white;
	background-color: $dark-gray;
	text-align: center;
	border: none;
	cursor: pointer;
	text-decoration: none;
	background-position: center;
	transition: .145s all;
	@include tablet {
		padding: rem(10 89);
		font-size: rem(14);
	}

	span {
		display: block;
	}

	&:hover {
		color: $white;
		background-color: $green;
	}

	&:active {

	}

	&.disabled, &:disabled {
		background-color: $disabled !important;
		pointer-events: none;
		color: #ccc;
	}

	&_icon {
		display: inline-flex;
		align-items: center;
		justify-items: center;
		padding: rem(11 0);

		&:hover {
			.btn_icon_text {
				color: $green;
			}
		}

		&_text {
			line-height: 2;
			font-size: rem(14);
			font-weight: 600;
			text-transform: uppercase;
			color: $dark-gray;
			margin: rem(0 30 0 20);
			cursor: pointer;
			transition: .12s fill ease;
		}

		svg {
			fill: none;

			path {
				fill: $dark-gray;
				transition: all ease 0.3s;
			}
		}

		&:hover {
			svg {
				path {
					fill: $white;
				}

				circle {
					fill: $green;
					stroke: $green;
				}
			}
		}
	}
}

.btn_sm {
	font-size: rem(12);
	padding: rem(0 8);
	height: rem(32);
	line-height: rem(32);
	letter-spacing: rem(0.34);
	@include tablet {
		font-size: rem(14);
		padding: rem(0 15);
	}
}

.btn_light {
	background-color: transparent;
	color: $dark-gray;
	border: 1px solid $black;

	&:hover {
		background-color: transparent;
		color: $green;
		border-color: $green;
	}
}

.btn_feedback {
	position: absolute !important;
	right: 0;
	top: rem(227);
	font-size: rem(14);
	text-transform: none;
	transform: rotate(-90deg) translateX(50%);
	transform-origin: bottom right;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	display: none;
	@include desktop {
		display: block;
	}
}

.toggleBox {
	display: flex;
	align-items: center;
	background: $white;
	border-radius: rem(4);

	.btn {
		font-weight: 400;
		text-transform: none;
		width: rem(110);
		font-size: rem(14);
		padding: rem(0 5);
		@include nonselect;

		&:hover {
			background: $green;
			color: $white;
		}

		&:not(.active) {
			background: $white;
			color: $green;

			&:hover {
				background: transparentize($green, .95);
				color: $green;
			}
		}

		.viewMode & {
			width: rem(40);

			.icon {
				font-size: rem(25);
				font-weight: 400;
				line-height: 1.5;
			}
		}
	}
}