*,
*:before,
*:after {
	box-sizing: inherit;
}

*, *:focus, *:active {
	outline: none !important;
}

html {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html,
body {
	height: 100%;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size: vwcalc(16, 375);
	@include tablet {
		font-size: vwcalc(16, 768);
	}
	@include desktop {
		font-size: vwcalc(16);
	}
	@include wrapper {
		font-size: 16px;
	}
	@include print {

	}
}

body {
	margin: 0;
	font-family: $font-main;
	color: $main-color;
	line-height: 1.35;
	font-weight: 400;
	background-color: $white;
	overscroll-behavior: contain;
	//font-variant-numeric: lining-nums;
	//-moz-font-feature-settings: "lnum";
	//-webkit-font-feature-settings: "lnum";
	//font-feature-settings: "lnum";

	-webkit-text-size-adjust: 100%;
	font-kerning: normal;
	font-variant-ligatures: contextual common-ligatures;
	font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
	overflow-x: hidden;

	&.no-scroll {
		overflow: hidden;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 700;
	line-height: normal;
	color: inherit;
	margin: 0;
}

b,
strong {
	font-weight: bold;
}

ul, ol, dl {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: $green;
	text-decoration: none;
}

a:hover {
	color: $green;
	text-decoration: none;
}

textarea::-webkit-selection,
input::-webkit-selection {
	background-color: rgba(100, 100, 100, 0.4);
	color: rgba(0, 0, 0, 0.87);
}

textarea::-moz-selection,
input::-moz-selection {
	background-color: rgba(100, 100, 100, 0.4);
	color: rgba(0, 0, 0, 0.87);
}

textarea::selection,
input::selection {
	background-color: rgba(100, 100, 100, 0.4);
	color: rgba(0, 0, 0, 0.87);
}

/* Force Simple Scrollbars */
body ::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
}

body ::-webkit-scrollbar-track {
	//margin: rem(20);
	background: #e0e0e0;
	//border-radius: 2px;
}

body ::-webkit-scrollbar-thumb {
	cursor: pointer;
	//border-radius: 2px;
	background: #bfbfbf;
	-webkit-transition: background 0.2s ease;
	transition: background 0.2s ease;
}

body ::-webkit-scrollbar-thumb:window-inactive {
	background: #bfbfbf;
}

body ::-webkit-scrollbar-thumb:hover {
	background: darken(#bfbfbf, 5%);
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

select::-ms-expand {
	display: none;
}