.grid {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
  > .item {
    width: 100%;
  }
}
.grid_2column {
  > .item {
    &:not(:last-child) {
      margin-bottom: rem(20);
      @include tablet {
        margin-bottom: 0;
      }
    }
    @include tablet {
      width: calc(50% - #{rem(10)});
    }
  }
}