.icon-hamburger {
  &:before {
    content: $icon-hamburger;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-pin {
  &:before {
    content: $icon-pin;
  }
}
.icon-pin-selected {
  &:before {
    content: $icon-pin-selected;
  }
}
.icon-date {
  &:before {
    content: $icon-date;
  }
}
.icon-privacy-locked {
  &:before {
    content: $icon-privacy-locked;
  }
}
.icon-privacy-public {
  &:before {
    content: $icon-privacy-public;
  }
}
.icon-ig {
  &:before {
    content: $icon-ig;
  }
}
.icon-in {
  &:before {
    content: $icon-in;
  }
}
.icon-tw {
  &:before {
    content: $icon-tw;
  }
}
.icon-fb {
  &:before {
    content: $icon-fb;
  }
}
.icon-go {
  &:before {
    content: $icon-go;
  }
}
.icon-quote {
  &:before {
    content: $icon-quote;
  }
}
.icon-fav {
  &:before {
    content: $icon-fav;
  }
}
.icon-delete {
  &:before {
    content: $icon-delete;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-fav-selected {
  &:before {
    content: $icon-fav-selected;
  }
}
.icon-flipbook {
  &:before {
    content: $icon-flipbook;
  }
}
.icon-market {
  &:before {
    content: $icon-market;
  }
}
.icon-market-selected {
  &:before {
    content: $icon-market-selected;
  }
}
.icon-more {
  &:before {
    content: $icon-more;
  }
}
.icon-privacy-person {
  &:before {
    content: $icon-privacy-person;
  }
}
.icon-qr {
  &:before {
    content: $icon-qr;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-share-selected {
  &:before {
    content: $icon-share-selected;
  }
}
.icon-05 {
  &:before {
    content: $icon-05;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-alert {
  &:before {
    content: $icon-alert;
  }
}
.icon-attach {
  &:before {
    content: $icon-attach;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-contacts {
  &:before {
    content: $icon-contacts;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-list {
  &:before {
    content: $icon-list;
  }
}
.icon-logout {
  &:before {
    content: $icon-logout;
  }
}
.icon-myartifcts {
  &:before {
    content: $icon-myartifcts;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-tiles {
  &:before {
    content: $icon-tiles;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-arrow-down-bold {
  &:before {
    content: $icon-arrow-down-bold;
  }
}
.icon-01 {
  &:before {
    content: $icon-01;
  }
}
.icon-02 {
  &:before {
    content: $icon-02;
  }
}
.icon-03 {
  &:before {
    content: $icon-03;
  }
}
.icon-04 {
  &:before {
    content: $icon-04;
  }
}
