$icon-hamburger: "\f0c9";
$icon-pinterest: "\1f36a";
$icon-pin: "\1f4cc";
$icon-pin-selected: "\1f4cd";
$icon-date: "\1f4c5";
$icon-privacy-locked: "\1f510";
$icon-privacy-public: "\1f30f";
$icon-ig: "\1f30d";
$icon-in: "\1f315";
$icon-tw: "\1f30e";
$icon-fb: "\1f310";
$icon-go: "\1f31c";
$icon-quote: "\275e";
$icon-fav: "\1f497";
$icon-delete: "\1f5f6";
$icon-download: "\1f53d";
$icon-edit: "\270e";
$icon-fav-selected: "\1f496";
$icon-flipbook: "\1f4d7";
$icon-market: "\1f4c2";
$icon-market-selected: "\1f4c1";
$icon-more: "\25e6";
$icon-privacy-person: "\1f465";
$icon-qr: "\1f3ff";
$icon-share: "\1f590";
$icon-share-selected: "\1f44d";
$icon-05: "\1f600";
$icon-lock: "\1f512";
$icon-arrow-down: "\2bc6";
$icon-alert: "\1f514";
$icon-attach: "\1f4ce";
$icon-close: "\2716";
$icon-contacts: "\1f4e7";
$icon-info: "\2757";
$icon-link: "\1f5f2";
$icon-list: "\1f4dc";
$icon-logout: "\1f4a8";
$icon-myartifcts: "\1f4c4";
$icon-search: "\1f50d";
$icon-tiles: "\25a0";
$icon-user: "\1f464";
$icon-arrow-right: "\2b9e";
$icon-check: "\2714";
$icon-arrow-down-bold: "\2b9f";
$icon-01: "\1f626";
$icon-02: "\1f641";
$icon-03: "\1f610";
$icon-04: "\1f642";