.intro {
	padding: rem(60 0 430);
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	@include mobile-only {
		padding: rem(20 0 240);
		background-size: 120%;
	}

	.inner {
		display: flex;
		align-items: stretch;
		flex-direction: column;
		height: auto;
		justify-content: center;
		padding: rem(0 20);
		text-align: left;
		@include desktop {
			height: rem(456);
			align-items: center;
			text-align: center;
		}
	}

	.subtitle {
		font-size: rem(14);
		line-height: 2.3;
		font-weight: 700;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: 20px;
		color: $dark-gray;
		@include desktop {
			font-size: rem(16);
		}

		.colored {
			color: $green;
		}
	}

	.title {
		font-size: rem(48);
		line-height: 1.4;
		font-weight: 900;
		margin-bottom: 20px;
		color: $dark-gray;
		@include desktop {
			font-size: rem(64);
		}
	}

	.text {
		font-size: rem(18);
		line-height: 1.4;
		font-weight: 400;
		max-width: rem(500);
		color: $dark-gray;
		margin-bottom: rem(40);
	}

	.btn {
		margin: 0;
		@include tablet {
			width: auto;
			margin: 0;
		}
	}
}

.welcome {
	background-color: $white;
	padding: rem(50 0 20);
	@include desktop {
		padding: rem(200 0);
	}

	.inner {
		display: flex;
		flex-direction: column;
		padding: rem(0 20);
		@include desktop {
			display: flex;
			flex-direction: row;
			padding: 0;
		}
	}

	.welcome_img {
		width: 100%;
		margin-bottom: rem(30);
		@include desktop {
			width: rem(670);
			margin-bottom: 0;
		}
	}

	.info {
		display: flex;
		align-content: flex-start;
		justify-content: center;
		flex-direction: column;
		@include desktop {
			margin-left: rem(130);
			display: flex;
			align-content: flex-start;
			justify-content: center;
			flex-direction: column;
		}

		.title {
			font-size: rem(24);
			line-height: 1.4;
			font-weight: 900;
			color: $dark-gray;
			margin-bottom: rem(30);
			@include desktop {
				font-size: rem(36);
			}


			.colored {
				color: $green;
			}
		}

		.text {
			font-size: rem(18);
			line-height: 1.4;
			font-weight: 400;
			max-width: rem(500);
			color: $dark-gray;
			margin-bottom: rem(40);
		}
	}

	hr {
		height: rem(4);
		border: none;
		background: $light-gray;
		margin: rem(60 0);
	}

	.how {
		display: flex;
		align-items: flex-start;

		.list {

			counter-reset: list;
			@include desktop {
				width: rem(420);
				margin-right: rem(148);
			}

			.item {
				&:not(:last-of-type) {
					margin-bottom: rem(30);
				}

				.itemTitle {
					font-size: rem(24);
					font-weight: bold;
					line-height: 1;
					color: $black;
					margin-bottom: rem(17);

					&:before {
						counter-increment: list;
						content: counter(list);
						width: rem(24);
						height: rem(24);
						background: $yellow;
						color: $white;
						border-radius: 50%;
						margin-right: rem(10);
						font-size: rem(14);
						text-align: center;
						line-height: rem(24);
						display: inline-block;
						vertical-align: middle;
						margin-top: rem(-4);
					}
				}

				.text {
					line-height: 1.5;
					font-size: rem(16);
					font-weight: 200;

					strong {
						font-weight: 400;
					}

					a {
						@extend %link-underline;
					}
				}
			}
		}

		.img {
			display: none;
			@include desktop {
				width: rem(558);
				display: block;
			}
		}
	}
}