.pageTitle {
  font-size: rem(30);
  font-weight: 500;
  margin-bottom: rem(20);
  color: $black;
}
.pageTitle_lg {
  font-size: rem(36);
  margin-bottom: rem(30);
}
.pageSubtitle {
  font-size: rem(24);
  font-weight: 900;
  color: $black;
}