.tooltipTrigger {
  cursor: pointer;
  &:hover {
    &:before {
      content: "";
      position: absolute;
      left: rem(-5);
      right: rem(-20);
      top: rem(-20);
      bottom: rem(-20);
    }
    ~ .tooltip {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
.tooltip {
  position: absolute;
  left: 100%;
  top: 100%;
  margin-top: rem(-7);
  margin-left: rem(-15);
  visibility: hidden;
  padding: rem(10);
  font-size: rem(12);
  line-height: 1.17;
  font-weight: 400;
  text-transform: none;
  box-shadow: rem(0 2 6 0) rgba(0, 0, 0, 0.1);
  border: solid 1px $border-color;
  background: $white;
  white-space: nowrap;
  z-index: 1;
  transform: translateY(#{rem(-10)});
  opacity: 0;
  transition: .06s opacity ease, .12s transform ease;
  &:hover {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
  a {
    @extend %link-underline;
  }
}